h1 {color:maroon}

#second {color:blueviolet}

#nav {color:lightpink}

h3 {color:blueviolet}

img {
    display: block;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    display: block;
}

#map {
    height: 400px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}